/build/
/benchpress-build/
.DS_Store
gen_docs.disable
test.disable
regression/temp*.html
performance/temp*.html
.idea/workspace.xml
*~
*.swp
bower_components/
angular.xcodeproj
.idea
*.iml
.agignore
.lvimrc
/scripts/bower/bower-*
.vscode
*.orig
**/*.pyc

#.hiddenfiles
.DS_Store
.idea/**
.svn/*
.metadata/*
.classpath
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.project.facet.core.xml

#folders to ignore
reports/*
exploded-archives/*
test-build/*
classes/*
coverage/*
emma/*
test-report/*
test-output/*
bootstrap/*
dist/*
target/*
bin/*
.settings/*
WebContent/*

#plugins do eclipse
.checkstyle
.eclipse-pmd
.jshintrc
.tern-project

#npm files
node_modules/
npm-debug.log
settings/karma.conf.test.js

#minified files
src/main/webapp/lib/js
src/main/webapp/lib/css

#testes
TESTS-Firefox*

/target/
yarn-error.log
/bin/
